  
       <div class="form-box-login bg-white p-8 rounded-lg shadow-md max-w-md mx-auto mt-16">
    <h2 class="text-2xl font-bold mb-6">Login</h2>
    <form action="#">
        <div class="mb-4">
            <label for="#" class="text-sm text-gray-600">Email</label>
            <input type="email" class="w-full border border-gray-300 px-3 py-2 rounded-md focus:outline-none focus:border-blue-500" required>
        </div>
        <div class="mb-4">
            <label for="#" class="text-sm text-gray-600">Password</label>
            <input type="password" class="w-full border border-gray-300 px-3 py-2 rounded-md focus:outline-none focus:border-blue-500" required>
        </div>
        <div class="flex items-center mb-4">
            <input type="checkbox" class="mr-2">
            <label for="#" class="text-sm text-gray-600">Save password</label>
            <a href="#" class="ml-auto text-sm text-blue-500">Forgot password?</a>
        </div>
        <button  class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 transition duration-300">Login</button>
        <div class="mt-4">
            <p class="text-sm text-gray-600">Don't have an account? <a routerLink="/admin" class="text-blue-500">Register</a></p>
        </div>
    </form>
</div>


